.instruction_block {
  z-index: 0;
  position: relative;
}
.images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.polar_light_instruction {
  height: 800px;
  z-index: 0;
  position: absolute;
  bottom: 0px;
  top: 0px;
  right: 0px;
  transform: scaleX(-1);
}

.instruction_img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  z-index: 0;
}

p,
.instructions_header {
  color: white;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.instructions_header {
  font-size: 30px;
}

.instructions_text {
  color: black;
  font-size: 15px;
  margin: 5px;
  padding: 5px;
}
