.cardList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 10px;
    margin: 15px;
}

.main-page{
    background-color: #004252;
}

@media (max-width: 480px) {
  .cardList {
    gap: 16px;
    padding: 8px;
    margin: 8px;
  }
}